services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: schedule2
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
